

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=movi_popayan_db
DB_PORT=3306

SERVER_HOST=127.0.0.1
# SERVER_PORT=8001  <- usar para servicio_rutas
# SERVER_PORT=8002  <- usar para servicio_operaciones
